.logo-container {
    text-align: center;
    margin: 20px 0;
}

.Moodify-logo {
    width: 210px;
    height: 100px;
}

.menu-toggle {
    background-color: black;
    font-size: 30px;
    border: none;
    margin-top: 55px;
    width: 210px;
    color: white;
}

.ul-container {
    width: 210px;
    list-style-type: none;
    padding: 5;
}

li {
    padding: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(198, 196, 196);
}

a:hover {
    cursor: pointer;
}

.fa-list {
    margin-right: 10px;
}

.fa-music {
    margin-right: 13px;
}
